<div class="bar">
    <div class="logo">
        <span>DANKEYUN</span>
    </div>
    <div class="nav-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a href="">产品</a>
            </li>
            <li class="nav-item">
                <a href="">SHOW</a>
            </li>
            <li class="nav-item">
                <a href="">服务</a>
            </li>
            <li class="nav-item">
                <a href="">联络</a>
            </li>
        </ul>
    </div>
</div>
