<div class="footer">
    <div class="link-section">
        <div class="title">
            关于我们
        </div>
        <div class="devide"></div>
        <div class="link">
            <a href="#">公司简介</a>
        </div>
        <div class="link">
            <a href="#">团队</a>
        </div>
        <div class="link">
            <a href="#">品牌战略</a>
        </div>
    </div>
    <div class="link-section">
        <div class="title">
            产品
        </div>
        <div class="devide"></div>
        <div class="link">
            <a href="#">精选</a>
        </div>
        <div class="link">
            <a href="#">男装</a>
        </div>
        <div class="link">
            <a href="#">女装</a>
        </div>
        <div class="link">
            <a href="#">童装</a>
        </div>
    </div>
    <div class="link-section">
        <div class="title">
            SHOW
        </div>
        <div class="devide"></div>
        <div class="link">
            <a href="#">2016 Summer</a>
        </div>
        <div class="link">
            <a href="#">2016 Spring</a>
        </div>
    </div>
    <div class="link-section">
        <div class="title">
            服务
        </div>
        <div class="devide"></div>
        <div class="link">
            <a href="#">代加工</a>
        </div>
        <div class="link">
            <a href="#">团购业务</a>
        </div>
        <div class="link">
            <a href="#">个性化定制</a>
        </div>
    </div>
    <div class="link-section">
        <div class="title">
            联络
        </div>
        <div class="devide"></div>
        <div class="link">
            <a href="#">加入我们</a>
        </div>
        <div class="link">
            <a href="#">加盟我们</a>
        </div>
        <div class="link">
            <a href="#">店铺方位</a>
        </div>
        <div class="link">
            <a href="#">投诉建议</a>
        </div>
    </div>
    <div class="contact-section">
        <div class="qr-code"></div>
        <div class="external">
            <div class="link">
                <a href="#">
                    <i class="iconfont icon-facebook"></i>
                </a>
            </div>
            <div class="link">
                <a href="#" style="vertical-align: middle;">
                    <i class="iconfont icon-instagram"></i>
                </a>
            </div>
            <div class="link">
                <a href="#">
                    <i class="iconfont icon-twitter"></i>
                </a>
            </div>
            <div class="link">
                <a href="#">
                    <i class="iconfont icon-pinterest"></i>
                </a>
            </div>

        </div>
    </div>
</div>
