<!doctype html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <title>{{title }}</title>
      <link rel="stylesheet" href="/css/style.css"/>
      <link rel="stylesheet" href="//at.alicdn.com/t/font_twtrc8wh6g808uxr.css"/>
      <link rel="stylesheet" href="/css/swiper.min.css"/>
      <script src="js/swiper.min.js"></script>
      <script src="libs/jquery/dist/jquery.min.js"></script>
      {{#if ENV_DEVELOPMENT}}
        <script src="http://localhost:35729/livereload.js"></script>
      {{/if}}
    </head>
    <body>
        {{> bar}}
        {{{body}}}
        {{> footer}}
        {{> copyright}}
    </body>
</html>
