<div class="index">
    <!-- Swiper -->
    <div class="banner-container">
        <div class="swiper-wrapper">
            {{#forEach bannerPics}}
                <div class="swiper-slide" style="background-image:url({{ ../root }}/{{ path }})"></div>
            {{/forEach}}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="product-wrapper">
        <div class="thumb">
            <div class="cover"></div>
            <div class="category">
                <ul>
                    <li class="active">
                        <a href="#">Woman</a>
                    </li>
                    <li>/
                        <a href="#">Man</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="carousel">
            <!-- Swiper -->
            <div class="carousel-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(http://placehold.it/500x400)"></div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(http://placehold.it/500x400)"></div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(http://placehold.it/500x400)"></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <div class="summary">
                <p>Man Fashion</p>
                <p>Autumn 16/17</p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function() {
        var swiperBanner = new Swiper('.banner-container', {
            pagination: '.swiper-pagination',
            paginationClickable: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 30,
            effect: 'fade'
        });
        var swiperCarousel = new Swiper('.carousel-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            direction: 'vertical'
        });
    })
</script>
