<div class="product-page">
    <div class="left-wrapper">
        <div class="title">产品</div>
        <div class="type">
            <ul>
                <li class="type-item active">
                    <a href="javascript:;">Woman</a>
                </li>
                <li class="type-item">/
                    <a href="javascript:;">Woman</a>
                </li>
                <li class="type-item">/
                    <a href="javascript:;">Woman</a>
                </li>
            </ul>
        </div>
        <div class="season">
            <ul>
                <li class="type-item active">
                    <a href="javascript:;">Spring 17</a>
                </li>
                <li class="type-item">/
                    <a href="javascript:;">Spring 17</a>
                </li>
                <li class="type-item">/
                    <a href="javascript:;">Spring 17</a>
                </li>
            </ul>
        </div>
        <div class="cover" style='background-image: url("http://placehold.it/392x294");'></div>
    </div>
    <div class="right-wrapper">
        123
    </div>
</div>
