html {
  font-family: 'Microsoft YaHei', tahoma, Helvetica, Arial, '\5FAE\8F6F\96C5\9ED1';
  font-size: 62.5%; }

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td,
menu {
  box-sizing: content-box;
  margin: 0;
  padding: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

ul,
ol,
menu {
  list-style: none; }

fieldset,
img {
  border: none; }

img,
object,
select,
input,
textarea,
button {
  vertical-align: middle; }

input,
textarea,
select,
address,
caption,
cite,
code,
dfn,
em,
i,
b,
strong,
small,
th,
var,
abbr {
  font-size: 100%;
  font-style: normal; }

caption,
th {
  text-align: left; }

article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption {
  display: block; }

code,
kbd,
pre,
samp,
tt {
  font-family: Consolas, 'Courier New', Courier, monospace; }

address,
cite,
dfn,
em,
var,
i {
  font-style: normal; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #06f; }
  a:link, a:visited, a:active {
    color: #06f; }
  a:hover, a:focus {
    text-decoration: underline;
    color: #f60;
    outline: none; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal; }

.bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: rgba(229, 229, 229, 0.6) !important;
  filter: Alpha(opacity=60);
  background: #fff;
  text-align: center; }
  .bar.none-opacity {
    background: #e5e5e5 !important;
    filter: Alpha(opacity=100); }
  .bar .logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 10px;
    height: 70px;
    line-height: 70px; }
    .bar .logo a {
      color: #000;
      display: inline-block;
      height: 100%; }
      .bar .logo a:hover, .bar .logo a:focus {
        text-decoration: none; }
  .bar .nav-wrapper {
    height: 50px;
    line-height: 50px;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in; }
    .bar .nav-wrapper .nav {
      margin: 0 auto; }
      .bar .nav-wrapper .nav .nav-item {
        display: inline-block;
        width: 220px;
        font-size: 14px;
        text-align: center; }
        .bar .nav-wrapper .nav .nav-item a {
          color: #000;
          display: inline-block;
          height: 100%;
          width: 100px; }
          .bar .nav-wrapper .nav .nav-item a:hover, .bar .nav-wrapper .nav .nav-item a:focus {
            text-decoration: none; }
    .bar .nav-wrapper.hide {
      height: 0;
      overflow: hidden; }
      .bar .nav-wrapper.hide .nav {
        -webkit-animation: menu-hide 0s ease-in 0s 1 alternate forwards;
        animation: menu-hide 0s ease-in 0s 1 alternate forwards; }
@-webkit-keyframes menu-hide {
  from {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1; }
  to {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0; } }
@keyframes menu-hide {
  from {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1; }
  to {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0; } }
    .bar .nav-wrapper.show {
      height: 50px;
      -webkit-animation: menu-show 2.5s ease-in 0s 1 alternate forwards;
      animation: menu-show 2.5s ease-in 0s 1 alternate forwards; }
@-webkit-keyframes menu-show {
  from {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0; }
  to {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1; } }
@keyframes menu-show {
  from {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0; }
  to {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1; } }
.footer {
  padding: 38px 16%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer .link-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .footer .link-section .title {
      font-size: 14px;
      font-weight: 500; }
    .footer .link-section .devide {
      width: 20px;
      height: 1px;
      margin: 22px 0;
      background: #b3b3b3; }
    .footer .link-section .link {
      font-size: 12px;
      padding-bottom: 16px; }
      .footer .link-section .link a {
        color: #666; }
        .footer .link-section .link a:hover, .footer .link-section .link a:focus {
          text-decoration: none; }
  .footer .contact-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .footer .contact-section .qr-code {
      margin: 0 auto;
      height: 100px;
      width: 100px;
      background-size: cover;
      background-image: url("/img/QR.jpg"); }
    .footer .contact-section .external {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 150px;
      margin: 40px auto 0 auto; }
      .footer .contact-section .external .link {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        text-align: center; }
        .footer .contact-section .external .link a {
          color: #808080; }
          .footer .contact-section .external .link a:hover, .footer .contact-section .external .link a:focus {
            text-decoration: none; }

.copyright {
  background-color: #e2ded0;
  text-align: center;
  font-size: 14px;
  height: 45px;
  line-height: 45px; }

.index .banner-container {
  width: 100%;
  height: 595px;
  overflow: hidden;
  position: relative; }
  .index .banner-container .swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
.index .product-wrapper {
  padding: 158px 160px; }
  .index .product-wrapper .thumb {
    display: inline-block;
    width: 49%; }
    .index .product-wrapper .thumb .cover {
      width: 392px;
      height: 294px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: cover; }
    .index .product-wrapper .thumb .category-wrapper .category {
      padding-top: 40px;
      font-size: 16px;
      margin: 0 auto;
      width: 392px; }
      .index .product-wrapper .thumb .category-wrapper .category ul > li {
        display: inline-block; }
        .index .product-wrapper .thumb .category-wrapper .category ul > li.active a {
          color: #000; }
        .index .product-wrapper .thumb .category-wrapper .category ul > li a {
          color: #666; }
          .index .product-wrapper .thumb .category-wrapper .category ul > li a:hover, .index .product-wrapper .thumb .category-wrapper .category ul > li a:focus {
            text-decoration: none; }
  .index .product-wrapper .carousel-wrapper {
    width: 50%;
    display: inline-block; }
    .index .product-wrapper .carousel-wrapper .carousel {
      width: 450px;
      height: 471px;
      margin: 0 auto;
      position: relative; }
      .index .product-wrapper .carousel-wrapper .carousel.hack {
        position: absolute;
        top: 400px;
        left: -1000px; }
      .index .product-wrapper .carousel-wrapper .carousel .carousel-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
        overflow: hidden; }
        .index .product-wrapper .carousel-wrapper .carousel .carousel-container .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        .index .product-wrapper .carousel-wrapper .carousel .carousel-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
          background: #808080; }
      .index .product-wrapper .carousel-wrapper .carousel .summary {
        position: absolute;
        top: 60px;
        left: -80px;
        z-index: 1; }
        .index .product-wrapper .carousel-wrapper .carousel .summary p {
          font-size: 26px;
          color: #423968; }

.show-page .banner-container {
  width: 100%;
  height: 540px;
  overflow: hidden;
  position: relative; }
  .show-page .banner-container .swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
.show-page .season-name {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  padding: 80px 0 76px 0; }
.show-page .image-list {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden; }
  .show-page .image-list .image-container {
    height: 400px; }
    .show-page .image-list .image-container .swiper-slide {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: scale(0.9, 0.9);
              transform: scale(0.9, 0.9); }
      .show-page .image-list .image-container .swiper-slide.active {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1); }
      .show-page .image-list .image-container .swiper-slide.none-active {
        -webkit-transform: scale(0.8, 0.8);
                transform: scale(0.8, 0.8);
        opacity: 0.6;
        filter: alpha(opacity=60); }
    .show-page .image-list .image-container .swiper-pagination-bullets {
      bottom: -50px !important; }
      .show-page .image-list .image-container .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #808080; }
.show-page .review-title {
  font-size: 18px;
  text-align: center;
  padding: 95px 0 62px 0; }
.show-page .review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .show-page .review-list .review-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%; }
    .show-page .review-list .review-item .review-pic {
      width: 256px;
      height: 172px;
      margin: 0 auto; }
    .show-page .review-list .review-item .review-name {
      font-size: 18px;
      font-family: Arial;
      text-align: center;
      padding: 20px 0 90px 0; }
    .show-page .review-list .review-item a {
      color: #000; }
      .show-page .review-list .review-item a:hover, .show-page .review-list .review-item a:focus {
        text-decoration: none; }

.product-page {
  padding: 188px 15% 63px 15%; }
  .product-page:before, .product-page:after {
    content: "";
    display: table; }
  .product-page:after {
    clear: both; }
  .product-page .left-wrapper {
    float: left;
    width: 50%;
    box-sizing: border-box; }
    .product-page .left-wrapper .content {
      width: 450px;
      margin: 0 auto; }
    .product-page .left-wrapper .title {
      font-size: 18px; }
    .product-page .left-wrapper .type {
      margin-top: 50px;
      font-size: 16px; }
      .product-page .left-wrapper .type ul > li {
        display: inline-block; }
        .product-page .left-wrapper .type ul > li.active a {
          color: #000; }
        .product-page .left-wrapper .type ul > li a {
          color: #666; }
          .product-page .left-wrapper .type ul > li a:hover, .product-page .left-wrapper .type ul > li a:focus {
            text-decoration: none; }
    .product-page .left-wrapper .season {
      margin-top: 16px;
      font-size: 12px; }
      .product-page .left-wrapper .season ul > li {
        display: inline-block; }
        .product-page .left-wrapper .season ul > li.active a {
          color: #000; }
        .product-page .left-wrapper .season ul > li a {
          color: #666; }
          .product-page .left-wrapper .season ul > li a:hover, .product-page .left-wrapper .season ul > li a:focus {
            text-decoration: none; }
    .product-page .left-wrapper .cover {
      margin-top: 50px;
      width: 392px;
      height: 294px;
      background-repeat: no-repeat;
      background-size: cover; }
  .product-page .right-wrapper {
    float: left;
    width: 50%;
    height: 472px;
    box-sizing: border-box;
    position: relative; }
    .product-page .right-wrapper .content {
      width: 450px;
      margin: 0 auto; }
    .product-page .right-wrapper .product-container {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      height: 471px;
      width: 100%;
      z-index: 1;
      overflow: hidden; }
      .product-page .right-wrapper .product-container .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .product-page .right-wrapper .swiper-pagination {
      top: 48%;
      right: -40px; }
      .product-page .right-wrapper .swiper-pagination .swiper-pagination-bullet {
        display: block;
        background: #5e5e5e;
        margin-bottom: 10px; }
        .product-page .right-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
          background: #808080; }

.article-page {
  margin-top: 70px;
  padding: 118px 15% 148px 15%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .article-page .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%; }
    .article-page .menu .title {
      font-size: 18px;
      margin-bottom: 50px; }
    .article-page .menu ul {
      margin-bottom: 40px; }
      .article-page .menu ul li {
        display: none; }
      .article-page .menu ul .first-level {
        font-size: 16px;
        color: #666; }
        .article-page .menu ul .first-level.active {
          color: #000; }
          .article-page .menu ul .first-level.active + .second-level {
            margin-top: 22px; }
        .article-page .menu ul .first-level:hover, .article-page .menu ul .first-level:focus {
          text-decoration: none; }
      .article-page .menu ul .second-level {
        padding-bottom: 16px;
        color: #666; }
        .article-page .menu ul .second-level a {
          color: #666; }
          .article-page .menu ul .second-level a:hover, .article-page .menu ul .second-level a:focus {
            text-decoration: none; }
        .article-page .menu ul .second-level.active a {
          color: #000; }
  .article-page .container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 70px; }
    .article-page .container .article {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 30%;
              flex: 1 1 30%;
      padding: 0 20px;
      color: #888; }
    .article-page .container .thumbarea {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 70%;
              flex: 1 1 70%; }
    .article-page .container .thumb {
      width: 500px;
      height: 350px;
      margin: 0 auto;
      background-size: cover; }
      .article-page .container .thumb .suggest input, .article-page .container .thumb .suggest textarea {
        color: #000; }
      .article-page .container .thumb .suggest .placeholder {
        color: #aaa; }
      .article-page .container .thumb .suggest #name, .article-page .container .thumb .suggest #title, .article-page .container .thumb .suggest #content {
        box-sizing: border-box;
        border: 1px solid #ccc;
        padding: 5px 10px;
        font-size: 12px;
        color: #444;
        width: 100%;
        margin-bottom: 10px; }
      .article-page .container .thumb .suggest #content {
        height: 100px;
        font-size: 13px;
        color: #444; }
      .article-page .container .thumb .suggest .control-wrapper {
        text-align: right; }

.btn {
  display: inline-block;
  padding: 3px 24px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

.error {
  padding: 200px 300px;
  font-size: 15px;
  text-align: center; }
