html {
  font-family: 'Microsoft YaHei', tahoma, Helvetica, Arial, '\5FAE\8F6F\96C5\9ED1';
  font-size: 62.5%; }

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td,
menu {
  box-sizing: content-box;
  margin: 0;
  padding: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

ul,
ol,
menu {
  list-style: none; }

fieldset,
img {
  border: none; }

img,
object,
select,
input,
textarea,
button {
  vertical-align: middle; }

input,
textarea,
select,
address,
caption,
cite,
code,
dfn,
em,
i,
b,
strong,
small,
th,
var,
abbr {
  font-size: 100%;
  font-style: normal; }

caption,
th {
  text-align: left; }

article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption {
  display: block; }

code,
kbd,
pre,
samp,
tt {
  font-family: Consolas, 'Courier New', Courier, monospace; }

address,
cite,
dfn,
em,
var,
i {
  font-style: normal; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  cursor: pointer;
  text-decoration: none;
  color: #06f; }
  a:link, a:visited, a:active {
    color: #06f; }
  a:hover, a:focus {
    text-decoration: underline;
    color: #f60;
    outline: none; }

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal; }

.bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  background: rgba(229, 229, 229, 0.6) !important;
  filter: Alpha(opacity=60);
  background: #fff;
  text-align: center; }
  .bar .logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 10px;
    height: 70px;
    line-height: 70px; }
  .bar .nav-wrapper .nav {
    margin: 0 auto; }
    .bar .nav-wrapper .nav .nav-item {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      width: 230px;
      text-align: center; }
      .bar .nav-wrapper .nav .nav-item a {
        color: #000;
        display: inline-block;
        height: 100%;
        width: 100px; }
        .bar .nav-wrapper .nav .nav-item a:hover, .bar .nav-wrapper .nav .nav-item a:focus {
          text-decoration: none; }

.footer {
  padding: 38px 180px;
  background-color: #f2f2f2;
  display: flex; }
  .footer .link-section {
    flex: 1; }
    .footer .link-section .title {
      font-size: 14px;
      font-weight: 500; }
    .footer .link-section .devide {
      width: 20px;
      height: 1px;
      margin: 22px 0;
      background: #b3b3b3; }
    .footer .link-section .link {
      font-size: 12px;
      padding-bottom: 16px; }
      .footer .link-section .link a {
        color: #666; }
        .footer .link-section .link a:hover, .footer .link-section .link a:focus {
          text-decoration: none; }
  .footer .contact-section {
    flex: 1; }
    .footer .contact-section .qr-code {
      margin: 0 auto;
      height: 100px;
      width: 100px;
      background-image: url("http://placehold.it/100x100"); }
    .footer .contact-section .external {
      display: flex;
      width: 200px;
      margin-top: 40px; }
      .footer .contact-section .external .link {
        flex: 1;
        text-align: center; }
        .footer .contact-section .external .link a {
          color: #808080; }
          .footer .contact-section .external .link a:hover, .footer .contact-section .external .link a:focus {
            text-decoration: none; }

.copyright {
  background-color: #e2ded0;
  text-align: center;
  font-size: 14px;
  height: 45px;
  line-height: 45px; }
