@import "reset.scss";
@import "css3-mixins.scss";

@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont";
    font-size:16px;
    font-style:normal;
}

.bar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    // height: 120px;
    background: rgba(229, 229, 229, 0.6) !important;
    filter:Alpha(opacity=60);
    background:#fff;
    text-align: center;
    &.none-opacity {
        background: rgba(229, 229, 229, 1) !important;
        filter:Alpha(opacity=100);
    }
    .logo {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: bolder;
        letter-spacing: 10px;
        height: 70px;
        line-height: 70px;
        a {
            color: #000;
            display: inline-block;
            height: 100%;
            width: 100px;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
    .nav-wrapper {
        height: 50px;
        line-height: 50px;
        .nav {
            margin: 0 auto;
            .nav-item {
                display: inline-block;
                width: 220px;
                font-size: 14px;
                text-align: center;
                a {
                    color: #000;
                    display: inline-block;
                    height: 100%;
                    width: 100px;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }
        @include transition("all .5s ease-in");
        &.hide {
            height: 0;
            overflow: hidden;
            .nav{
                @include animation("menu-hide 0s ease-in 0s 1 alternate forwards");
                @include keyframes('menu-hide') {
                    from {
                        @include opacity(1);
                    }
                    to{
                        @include opacity(0);
                    }
                }
            }
        }
        &.show {
            height: 50px;

            @include animation("menu-show 2.5s ease-in 0s 1 alternate forwards");
            @include keyframes('menu-show') {
                from {
                    @include opacity(0);
                }
                to{
                    @include opacity(1);
                }
            }

            // .nav{
            //     @include animation("menu-show .5s linear .5s 1 alternate forwards");
            //     @include keyframes('menu-show') {
            //         from {
            //             @include opacity(0);
            //         }
            //         to{
            //             @include opacity(1);
            //         }
            //     }
            // }
        }
    }
}

.footer {
    padding: 38px 16%;
    background-color: #f2f2f2;
    display: flex;

    .link-section {
        flex: 1;
        .title {
            font-size: 14px;
            font-weight: 500;
        }
        .devide {
            width: 20px;
            height: 1px;
            margin: 22px 0;
            background: #b3b3b3;
        }
        .link {
            font-size: 12px;
            padding-bottom: 16px;
            a {
                color: #666;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
    .contact-section {
        flex: 1;
        .qr-code {
            margin: 0 auto;
            height: 100px;
            width: 100px;
            background-size: cover;
            background-image: url("/img/QR.jpg");
        }
        .external {
            display: flex;
            width: 150px;
            margin: 40px auto 0 auto;
            .link {
                flex: 1;
                text-align: center;
                a {
                    color: #808080;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }

            }
        }
    }
}

.copyright {
    background-color: #e2ded0;
    text-align: center;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
}


.index {
    .banner-container {
        width: 100%;
        height: 595px;
        overflow: hidden;
        position: relative;
        .swiper-slide {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .product-wrapper {
        padding: 158px 160px;
        .thumb {
            display: inline-block;
            width: 49%;
            .cover {
                // width: 265px;
                // height: 300px;
                width: 392px;
                height: 294px;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-size: cover;
                // background-image: url("http://placehold.it/265x300");
            }
            .category-wrapper {
                .category {
                    padding-top: 40px;
                    font-size: 16px;
                    margin: 0 auto;
                    width: 392px;
                    ul > li {

                        &.active {
                            a {
                                color: #000;
                            }
                        }
                        a {
                            color: #666;
                            &:hover,
                            &:focus {
                                text-decoration: none;
                            }
                        }
                        display: inline-block;
                    }
                }
            }

        }
        .carousel-wrapper {
            width: 50%;
            display: inline-block;
            .carousel {
                width: 450px;
                height: 471px;
                margin: 0 auto;
                position: relative;
                &.hack {
                    position: absolute;
                    top: 400px;
                    left: -1000px;
                }
                .carousel-container {
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    overflow: hidden;
                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background: #fff;

                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                    }
                    .swiper-pagination-bullet {
                        &.swiper-pagination-bullet-active {
                            background: #808080;
                        }
                    }
                }
                .summary {
                    position: absolute;
                    top: 60px;
                    left: -80px;
                    z-index: 1;
                    p {
                        font-size: 26px;
                        color: #423968;
                    }
                }
            }
        }
    }
}

.show-page {
    // margin-top: 70px;
    .banner-container {
        width: 100%;
        height: 540px;
        overflow: hidden;
        position: relative;
        .swiper-slide {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .season-name {
        font-family: Arial;
        font-size: 18px;
        text-align: center;
        padding: 80px 0 76px 0;
    }
    .image-list {
        position: relative;
        max-width: 1500px;
        margin: 0 auto;
        overflow: hidden;
        .image-container {
            height: 400px;
            // overflow: hidden;
            .swiper-slide {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all 0.5s;
                transform:scale(.9,.9);
                &.active {
                    transform:scale(1,1);
                }
                &.none-active {
                    transform:scale(.8,.8);
                    opacity: 0.6;
                    filter: alpha(opacity=60);
                }
            }
            .swiper-pagination-bullets {
                bottom: -50px !important;
                .swiper-pagination-bullet {
                    &.swiper-pagination-bullet-active {
                        background: #808080;
                    }
                }
            }
        }
    }
    .review-title {
        font-size: 18px;
        text-align: center;
        padding: 95px 0 62px 0;
    }
    .review-list {
        display: flex;

        .review-item {
            flex: 0 0 33.3%;
            .review-pic {
                width: 256px;
                height: 172px;
                margin: 0 auto;
            }
            .review-name {
                font-size: 18px;
                font-family: Arial;
                text-align: center;
                padding: 20px 0 90px 0;
            }
            a {
                color: #000;
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

.product-page {
    padding: 188px 15% 63px 15%;
    @include clearfix();
    .left-wrapper {
        float: left;
        width: 50%;
        box-sizing: border-box;
        .content {
            width: 450px;
            margin: 0 auto;
        }
        .title {
            font-size: 18px;
        }
        .type {
            margin-top: 50px;
            font-size: 16px;
            ul > li {

                &.active {
                    a {
                        color: #000;
                    }
                }
                a {
                    color: #666;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
                display: inline-block;
            }
        }
        .season {
            margin-top: 16px;
            font-size: 12px;
            ul > li {
                &.active {
                    a {
                        color: #000;
                    }
                }
                a {
                    color: #666;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
                display: inline-block;
            }
        }
        .cover {
            margin-top: 50px;
            width: 392px;
            height: 294px;
            background-repeat: no-repeat;
            background-size: cover;
            // background-image: url("http://placehold.it/265x300");
        }
    }
    .right-wrapper {
        float: left;
        width: 50%;
        height: 472px;
        box-sizing: border-box;
        position: relative;
        .content {
            width: 450px;
            margin: 0 auto;
        }
        .product-container {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            height: 471px;
            width: 100%;
            z-index: 1;
            overflow: hidden;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
            }


        }
        .swiper-pagination {
            top: 48%;
            right: -40px;
            .swiper-pagination-bullet {
                display: block;
                background: #5e5e5e;
                margin-bottom: 10px;
                &.swiper-pagination-bullet-active {
                    background: #808080;
                }
            }
        }
    }
}

.article-page {
    margin-top: 70px;
    padding: 118px 160px 148px 160px;
    min-height: 400px;
    display: flex;
    .menu {
        flex: 1 1 20%;
        .title {
            font-size: 18px;
            margin-bottom: 50px;
        }
        ul {
            margin-bottom: 40px;
            li {
                display: none;
            }
            .first-level {
                font-size: 16px;
                color: #666;
                &.active {
                    color: #000;
                    & + .second-level {
                        margin-top: 22px;
                    }
                }
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
            .second-level {
                padding-bottom: 16px;
                color: #666;
                a {
                    color: #666;
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
                &.active {
                    a {
                        color: #000;
                    }
                }
            }

        } // end ul
    } //end menu
    .container {
        flex: 1 1 80%;
        display: flex;
        padding-top: 70px;
        .article {
            flex: 1 1 30%;
            padding: 0 20px;
            color: #888;
        }
        .thumbarea {
            flex: 1 1 70%;

        }
        .thumb {

            width: 500px;
            height: 300px;
            margin: 0 auto;
            background-size: cover;

            .suggest {
                input, textarea { color: #000; }
                .placeholder { color: #aaa; }
                #name, #title, #content {
                    box-sizing: border-box;
                    border: 1px solid #ccc;
                    padding: 5px 10px;
                    font-size: 12px;
                    color: #444;
                    width: 100%;
                    margin-bottom: 10px;
                }
                #content {
                    height: 100px;
                    font-size: 13px;
                    color: #444;
                }
                .control-wrapper {
                    text-align: right;

                }
            }
        }
    }
}

.btn {
    display: inline-block;
    padding: 3px 24px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.error {
    padding: 200px 300px;
    font-size: 15px;
    text-align: center;
}

// @media (min-height:800px) {
//     .product-wrapper {
//         min-height: 85vh;
//     }
//     .article-page {
//         min-height: 85vh;
//     }
// }
